<div class="row">
  <div class="col-6">
    <h4>Paso 1</h4>
  </div>
  <div
    class="col-6"
    *ngIf="uploadForm.valid"
  >
    <button
      class="btn btn-outline-primary float-right"
      (click)="next.emit(true)"
    >
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>
  <div class="col-12 mt-4">
    <h5 class="card-title">Carga de documento</h5>
    <h6 class="card-subtitle mb-2 text-muted">Porfavor cargue el archivo en formato .xml</h6>
  </div>
  <div class="col-12">
    <hr>
    <form [formGroup]="uploadForm">
      <div class="form-group">
        <!-- <label for="exampleFormControlFile1">Example file input</label> -->
        <input
          type="file"
          accept="text/xml"
          class="form-control-file"
          id="exampleFormControlFile1"
          (change)="onChange($event)"
        >
      </div>
    </form>
  </div>
</div>
